
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  
}
/* style.css */

nav {
    width: 100%;
    font-style: italic;
    position: sticky !important;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 10px 15px rgba(0,0,0,.5);
  background-color: #ced4da;
 font-weight: bold;
}

.navbar-brand{
    font-weight: 600;
    
}
/* Navigation links */
.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color: #333; /* Change color as needed */
    font-family: 'Arial', sans-serif; /* Change font-family to desired stylish font */
    font-size: 18px; /* Change font size as needed */
    padding: 10px 20px;
    border-radius: 5px;
    
}

.nav-links a:hover {
     color: yellowgreen;/* Change hover background color as needed */
}
/* style.css */

/* Navbar */


/* Main Content */
.main-content {
    padding: 20px;
}

/* About Section */


/* Style for the list of brand names */
.brand-list {
    margin-top: 20px; /* Add spacing at the top */
    padding: 0; /* Remove default padding */
    list-style-type: none; /* Remove bullet points */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center align list items */
    font-size: 20px;
}


.brand-list li {
    margin-right: 20px; /* Add spacing between list items */
    font-style: italic;
}

/* Style for anchor links in the brand list */
.brand-list li a {
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
    transition: color 0.3s; 
}


.brand-list li a:hover {
    color: yellowgreen; /* Change text color on hover */
}
/* custom.css */


.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 20px;
    border-color: #ced4da;
}

.form-control:focus {
    box-shadow: none;
    border-color: #4dabf7;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.success-message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}
.sum{
    font-weight: bold;
    text-align: center;
}